<html>
  <head>

    <!-- Node modules styles -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="node_modules/daterangepicker/daterangepicker.css" rel="stylesheet">


    <!-- End node module styles -->

    <script type="text/javascript" src="funcs.js"></script>


    <!-- Javascript -->
    <script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="node_modules/moment/moment.js"></script>
    <script type="text/javascript" src="node_modules/daterangepicker/daterangepicker.js"></script>
    <!-- End Javascript -->


    

    <style>

    .unit-square {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: black;
      margin: 5px;
      font-size: 6px;
    }

    .maActive {
      background-color: red;
    }

    </style>

    

  </head>

  <body>

    <div id="app">

      

      <form class="form-inline">

        <div class="form-group">
          <label for='status-type-select'>Status Type</label>
          <select id='status-type-select' name="status" v-model="status">
            <option value="BROKEN">Broken</option>
            <option value="INSPECTION">Inspection</option>
            <option value="REHAB">Rehab</option>
            <option value="OFF">Off</option>
          </select>
        </div>

        <div class="form-group">
          <label for='sort-select'>Sort Order</label>
          <select id='sort-select' name="sortorder" v-model="sortorder">
            <option value="unitid">Unit Id</option>
            <option value="station">Station</option>
            <option value="mostbroken">Most Broken</option>
          </select>
        </div>

        <div class="form-group">
          <label for='date-index-input'>Date Index</label>
          <input id='date-index-input' type="number" min=0 v-model="date_index">
        </div>

        <input id='daterangeinput' type="text" name="daterange" v-model="date_range_txt" />

        <div class="form-group">
          <label for="tick-input">Sleep</label>
          <input id='tick-inpu' type='number' name='tick' v-model="tick" />
        </div>

        <div class="form-group">
          <input class="btn btn-primary" type="button" value="Play" v-on:click="play()">
          <input class="btn btn-danger" type="button" value="Stop"  v-on:click="stop()">
        </div>


      </form>

      <p>Date range: {{ date_range_txt }}</p>
      <p>Start Date: {{ start_date }}</p>
      <p>End Date: {{ end_date }}</p>

      {{ items && items.dates[[date_index]] }}

      <div v-if="items !== null">

        <!-- TODO:
        1. Add a key here to track the unit.
        2. Provide styling based on the date.
        -->

        <div
          class="unit-square"
          v-for="(unit, index) in units"
          :key="unit.unit_id"
          v-bind:class="{
            maActive: highlighted_units[unit.unit_index] == 1,
            maNotActive: highlighted_units[unit.unit_index] == 0}"
          :title="unit.unit_id"

          >
          {{ index }}
        </div>
      </div>

    </div>

    <script>

      var apiURL = "unit_by_date.json";

      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!',
          items : null,
          units : [],
          status : "BROKEN",
          date_index : 0,
          daterangeinput_el: null,
          date_range_txt: '01/01/2015 - 01/31/2015',
          min_date: null,
          max_date: null,
          start_date: null,
          end_date: null,

          start_date_index: null,
          end_date_index: null,
          timeout_id: null,
          tick: 300, // 300ms
          animation_state: "STOP",
          sortorder: "unitid"

        },
        watch: {
          date_range_txt : function(new_text) {
            this.updateDateRange();
          },
          sortorder : function() {
            this.sort_units();
          }
        },
        created: function () {
          this.fetchData();
        },

        methods: {

          fetchData: function () {
            var self = this;
            var req = $.getJSON( apiURL, function( new_data ) {
                console.log("Got the data.");
                self.items = new_data;
                self.units = hydrate_units(new_data);
                self.configure_date_range_picker();

                // Sort units by broken count
                self.units = self.units.sort(function(a,b) {
                  return a.break_count < b.break_count;
                });
            });
          },

          configure_date_range_picker: function() {
            var self = this;
            self.min_date = self.items.dates[0];
            self.max_date = self.items.dates[self.items.dates.length - 1];

            // Configure the date range input with the min and max dates
            var $el = $('#daterangeinput');
            $el.daterangepicker({
              minDate: self.min_date, 
              maxDate: self.max_date

            });
            self.daterangeinput_el = $el;
            $el.on('apply.daterangepicker hide.daterangepicker', function(ev, picker) {
              self.updateDateRange()
            });
            self.updateDateRange();
          },

          updateDateRange: function() {
            if(this.daterangeinput_el === null) return;
            var d = this.daterangeinput_el.data('daterangepicker');
            if(d === null) return;
            this.start_date = d.startDate;
            this.end_date = d.endDate;

            // TODO: Check the date index here?
            this.start_date_index = this.start_date.diff(this.min_date, "days");
            this.end_date_index = this.end_date.diff(this.min_date, "days");
            this.date_index = this.start_date_index;

          },

          next_tick: function() {

            var self = this;
            if(this.date_index < this.end_date_index) {
              self.animation_state = "PLAY";
              console.log(moment().format('MMMM Do YYYY, h:mm:ss.SSS a'));
              this.date_index += 1;

              self.timeout_id = setTimeout(function(){
                self.next_tick();
              }, self.tick);

            } else {
              self.animation_state = "STOP";
            }

          },

          play: function() {

            if(self.animation_state === "PLAY") {
              return;
            }

            self.animation_state = "PLAY";
            this.next_tick();

          },

          stop: function() {
            self.animation_state = "STOP";
            if (this.timeout_id !== null) {
              window.clearTimeout(this.timeout_id);
            }
          },

          sort_units : function() {
            var self = this;
            if(this.sortorder == "unitid") {

              self.units = self.units.sort(function(left, right) {
                return left.unit_id < right.unit_id ? -1 : 1;
              });

            } else if (this.sortorder == "mostbroken") {

              self.units = self.units.sort(function(left, right) {
                return -(left.break_count - right.break_count);
              });
            } else if (this.sortorder == "station") {
              self.units = self.units.sort(function(left, right) {
                return left.station_name < right.station_name ? -1 : 1;
              });
            }

          }

        },

        computed: {
          num_units : function() {

            if(this.items === null) {
              return 0;
            }

            return this.items.units.length;

          }, 
          highlighted_units: function() {

            if(this.items === null) {
              return [];
            }

            var ones = this.items.category_by_date[this.status][this.date_index];
            var ret = Array(this.num_units).fill(0);
            ones.forEach(function(ind) {
              ret[ind] = 1;
            });
            return ret;
          }

        }

      });


      // $(function() {
      //   var $el = $('#daterangeinput');
      //   $el.daterangepicker();
      //   app.daterangeinput_el = $el;
      //   $el.on('apply.daterangepicker', function(ev, picker) {
      //     app.updateDateRange()
      //   });
      //   app.updateDateRange();
      // });




    </script>

  </body>

</html>