<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>DCMetroMetrics: MetroEscalators Animation</title>


    <!-- Node modules styles -->
    <link href="//unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="//unpkg.com/daterangepicker@2.1.25/daterangepicker.css" rel="stylesheet">
    <!-- End node module styles -->

    <script type="text/javascript" src="funcs.js"></script>


    <!-- Javascript -->
    <script type="text/javascript" src="//unpkg.com/jquery@3.2.1/dist/jquery.js" ></script>
    <script type="text/javascript" src="//unpkg.com/vue@2.5.2/dist/vue.min.js" ></script>
    <script type="text/javascript" src="//unpkg.com/bootstrap@3.3.7/dist/js/bootstrap.min.js" ></script>

    <script type="text/javascript" src="//unpkg.com/moment@2.19.1/min/moment.min.js" ></script>
    <script type="text/javascript" src="//unpkg.com/daterangepicker@2.1.25/daterangepicker.js" ></script>
    
    <!-- End Javascript -->


    

    <style>

      body { padding-top: 70px; }

      [v-cloak] {
        display: none;
      }


      .unit-square {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #efeff3;
        border: 1px solid #ccc;
        border: 1px solid #7f7f7f;
        border-radius: 3px;
        margin: 5px;
        font-size: 12px;
        color: black;
        text-align: center;
        vertical-align: middle;
        line-height: 20px;

      }

      .ma-streak {
        display: block;
      }

      .ma-hide-streak .ma-streak {
        display: none;
      }



      .ma-broken .ma-active {
        background-color: #ff8383;
      }

      .ma-off .ma-active {
        background-color:   #ffca94;
      }

      .ma-inspection .ma-active {
        background-color:   #4de9ff;
      }

      .ma-rehab .ma-active {
        background-color: #ffee87;
      }

      .ma-tooltip {
          position: relative;
      }

      .ma-tooltip .ma-tooltiptext {
          visibility: hidden;
          width: 200px;
          background-color: #eaeaea;
          background-color: #AFFF87;
          border: 1px solid #515151;
          border-radius: 6px;

          color: black;
          text-align: left;
          font-size: 12px;
          padding: 5px 2px;

          /* Position the tooltip */
          position: absolute;
          z-index: 1;
          top: -5px;
          left: 10px;
      }

      .ma-tooltip:hover .ma-tooltiptext {
          visibility: visible;
      }
    </style>

    

  </head>

  <body>

    <div id="app">

      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <span class="navbar-brand">MetroEscalator Animation</span>
          </div>
          <div>
            <span class="navbar-brand" style="color: black;">{{ date_index_str }}</span>
          </div>

        </div>
      </nav>

      <div class="container">

        <!-- form controls -->

          <div class="well well-md">
            <h3>Controls</h3>

              <form class="form-inline">

                <div class="form-group">
                  <label for='unit-type-select'>Unit Type</label>
                  <select id='unit-type-select' name="status" v-model="unit_type">
                    <option value="both">Escalators + Elevators</option>
                    <option value="escalators">Escalators Only</option>
                    <option value="elevators">Elevators Only</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for='status-type-select'>Status Type</label>
                  <select id='status-type-select' name="status" v-model="status">
                    <option value="BROKEN">Broken</option>
                    <option value="INSPECTION">Inspection</option>
                    <option value="REHAB">Rehab</option>
                    <option value="OFF">Off</option>
                  </select>
                </div>


                <div class="form-group">
                  <label for='daterangeinput'>Date Range</label>
                  <input id='daterangeinput' type="text" name="daterange" />
                </div>

                <div class="form-group">
                  <label for="tick-input">Sleep</label>
                  <input id='tick-input' type='number' name='tick' min=200 v-model="tick" />
                </div>

                <label for="unit-grouping-btn">Grouping</label>
                <div id='unit-grouping-btn' class="btn-group" role="group">
                  <button type="button" class="btn btn-default"
                    v-on:click="set_unit_grouping(0)"
                    v-bind:class="{active: group_index == 0}">None</button>
                  <button type="button" class="btn btn-default" v-on:click="set_unit_grouping(1)"
                  v-bind:class="{active: group_index == 1}">By Station</button>
                </div>

     

                <div class="btn-group" role="toolbar" >
                  <button type="button" class="btn btn-primary" role="group" v-on:click="play()"
                    v-bind:class="{active: animation_state === 'PLAY'}">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-warning" role="group" v-on:click="stop()"
                    v-bind:class="{active: animation_state === 'STOP'}">
                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>  
                  </button>
                  <button type="button" class="btn btn-danger" role="group" v-on:click="reset()">
                    <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
                  </button>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" v-model="show_streaks">Show Consecutive Count
                  </label>
                </div>

              </form>
     
          </div> <!-- /well -->



        <!-- debug output -->
<!--         <div class="row">
          <h4>DEBUG</h4>
          <p>Animation State: {{ animation_state }}</p>
          <p>Start Date: {{ start_date }}</p>
          <p>End Date: {{ end_date }}</p>
          <p>Tab: {{ group_index }} </p>

          {{ outage_data && outage_data.dates[[date_index]] }}
        </div>
 -->
        <!-- current date -->
        <div class="row">
          <h3>{{ date_index_str }}</h3>
          Each box below represents an escalator or elevator in the Metrorail system.
          Units that are color shaded were {{ status_str }} on this date.
          <span v-if="show_streaks">The numbers represent the number of consecutive days that the unit was {{ status_str }} (or not).</span>
        </div>

        <!-- output for no grouping -->
        <div class="row" v-if="have_data">
          <div v-if="(outage_data !== null) && group_index === 0" v-bind:class="status_class">
            <form>
              <div class="form-group">
                <label for='sort-select'>Sort Order</label>
                <select id='sort-select' name="sortorder" v-model="sortorder">
                  <option value="unitid">Unit Id</option>
                  <option value="station">Station</option>
                  <option value="mostbroken">Most Broken</option>
                </select>
              </div>
            </form>

            <div
              class="unit-square ma-tooltip"
              v-for="unit in units"
              :key="unit.unit_id"
              v-bind:class="unit.display_class_obj">
                <span class="ma-tooltiptext">

                    <span style="font-weight: bold;">Unit:</span> {{ unit.unit_id }}<br>
                    <span style="font-weight: bold;">Station:</span> {{ unit.station_name }}, {{ unit.station_desc }}<br>
                    <span style="font-weight: bold;">Description:</span> {{ unit.esc_desc }}
                 
                </span>

                <span class="ma-streak">
                {{ unit.display_streak }}
                </span>

            </div>
          </div>
        </div>

        <!-- output for grouping by station -->
        <div class="row" v-if="have_data">
          <div v-if="(outage_data !== null) && group_index === 1" v-bind:class="status_class">
            <div
              v-for="unit_group in units_by_station"
              :key="unit_group.station">

              <h5>{{ unit_group.station }}</h5>

              <div v-for="unit in unit_group.units"
                :key="unit.unit_id"
                class="unit-square ma-tooltip"
                v-bind:class="unit.display_class_obj">
                
                  <span class="ma-tooltiptext">
        
                      <span style="font-weight: bold;">Unit:</span> {{ unit.unit_id }}<br>
                      <span style="font-weight: bold;">Station:</span> {{ unit.station_name }}, {{ unit.station_desc }}<br>
                      <span style="font-weight: bold;">Description:</span> {{ unit.esc_desc }}
                   
                  </span>

                  <span class="ma-streak">
                  {{ unit.display_streak }}
                  </span>

              </div>

            </div>
          </div>
        </div>


      </div> <!-- /container -->
    </div> <!-- /app -->

    

    <script>

      var apiURL = "unit_by_date.json";

      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!',
          outage_data : null,
          units : [],
          all_units : [],
          units_by_station: [],
          status : "BROKEN",
          date_index : 0,
          daterangeinput_el: null,
          min_date: null,
          max_date: null,
          start_date: null,
          end_date: null,

          start_date_index: null,
          end_date_index: null,
          timeout_id: null,
          tick: 300, // 300ms
          animation_state: "STOP",
          last_tick: null,
          sortorder: "unitid",
          show_streaks: false,
          unit_type: 'both',

          group_index: 1,
          have_data: false

        },
        watch: {
          sortorder : function() {
            this.sort_units();
          },
          unit_type : function () {
            this.filter_units();
            this.sort_units();
          },
          status : function() {
            this.update_unit_display_info();
          },
          date_index : function() {
            this.update_unit_display_info();
          }
        },
        created: function () {
          this.fetchData();
        },

        methods: {

          fetchData: function () {
            var self = this;
            var req = $.getJSON( apiURL, function( new_data ) {
                console.log("Got the data.");
                self.outage_data = new_data;
                self.all_units = hydrate_units(new_data);
                self.units_by_station = units_by_station(self.all_units);
                self.configure_date_range_picker();

                
                self.filter_units()
                self.sort_units();
                self.update_unit_display_info();
                self.have_data = true;

            });
          },

          configure_date_range_picker: function() {
            var self = this;
            self.min_date = self.outage_data.dates[0];
            self.max_date = self.outage_data.dates[self.outage_data.dates.length - 1];

            // Configure the date range input with the min and max dates
            var $el = $('#daterangeinput');
            var min_date_str = moment(self.min_date).format("MM/DD/YY");
            var max_date_str = moment(self.max_date).format("MM/DD/YY")
            $el.daterangepicker({
              "startDate" : min_date_str,
              "endDate" : max_date_str,  
              "minDate": min_date_str, 
              "maxDate": max_date_str
            });
            self.daterangeinput_el = $el;
            $el.on('apply.daterangepicker hide.daterangepicker', function(ev, picker) {
              self.updateDateRange()
            });
            self.updateDateRange();
          },

          updateDateRange: function() {

            if(this.daterangeinput_el === null) return;

            var d = this.daterangeinput_el.data('daterangepicker');
            if(!d) { return; }

            this.start_date = d.startDate;
            this.end_date = d.endDate;

            this.start_date_index = this.start_date.diff(this.min_date, "days");
            this.end_date_index = this.end_date.diff(this.min_date, "days");

            var max_date_index = this.outage_data.dates.length;
            if(this.start_date_index < 0 || this.start_date_index >= max_date_index) {
              console.log("Bad start date index: " + this.start_date_index + '. Max allowed is ' + max_date_index);
              this.start_date_index = 0;
            }           
            if(this.end_date_index < 0 || this.end_date_index >= max_date_index) {
              console.log("Bad end date index: " + this.end_date_index + '. Max allowed is ' + max_date_index);
              this.end_date_index = 0;
            }
            this.date_index = this.start_date_index;

          },

          next_tick: function() {

            var self = this;
            self.timeout_id = null;
            var this_tick, tick_delta, sleep;
            if(this.date_index < this.end_date_index) {

              // self.animation_state = "PLAY";
              // sleep = self.tick;
              self.date_index += 1;

              // this_tick = new Date();


              // increment the date index
              self.timeout_id = setTimeout(function(){
                self.next_tick();
              }, self.tick_numeric);

            } else {
              self.animation_state = "STOP";
              self.last_tick = undefined;
            }

          },

          play: function() {

            if(this.animation_state === "PLAY") {
              return;
            }
            if( this.timeout_id != null) {
              return;
            }

            this.animation_state = "PLAY";
            this.next_tick();

          },

          stop: function() {
            this.animation_state = "STOP";
            if (this.timeout_id !== null) {
              window.clearTimeout(this.timeout_id);
              this.timeout_id = null;
              this.last_tick = undefined;
            }
          },

          reset: function() {
            this.stop();
            this.date_index = this.start_date_index;

          },

          filter_units: function () {
            var u = this.all_units;
            if (this.unit_type === 'both') {
              this.units = u;
              this.units_by_station = units_by_station(u);
              return;
            } else if (this.unit_type === 'escalators') {
              u = u.filter(function(unit) {
                return unit.unit_type === "ESCALATOR";
              });
              this.units = u;
              this.units_by_station = units_by_station(u);
            } else if (this.unit_type === 'elevators') {
              u = u.filter(function(unit) {
                return unit.unit_type === "ELEVATOR";
              });
              this.units = u;
              this.units_by_station = units_by_station(u);
            }

          },

          sort_units : function() {
            var u = this.units;
            if(this.sortorder === "unitid") {
              console.log("sort by unit id");
              u = u.sort(function(left, right) {
                return left.unit_id < right.unit_id ? -1 : 1;
              });

            } else if (this.sortorder === "mostbroken") {
              console.log("sort by most broken");
              u = u.sort(function(left, right) {
                return -(left.break_count - right.break_count);
              });
            } else if (this.sortorder === "station") {
               console.log("sort by  station");
              u = u.sort(function(left, right) {
                if(!left.station_name) { return 1;}
                if(!right.station_name) { return -1;}
                if(left.station_name === right.station_name) {
                  return left.unit_id < right.unit_id ? -1 : 1;
                }
                return left.station_name < right.station_name ? -1 : 1;
              });
            }
            this.units = u;

          },
          set_unit_grouping : function(index) {
            this.group_index = index;
          },

          // Update the class and streak values for each unit.
          update_unit_display_info : function() {
            var self = this;
            var status = this.status;
            var date_index = this.date_index;
            console.log("Update display info", new Date());
            this.all_units.forEach(function(unit) {

              unit['display_class_obj'] = {
                  'ma-active': unit.category_to_timeseries[status][date_index] == 1
                };
              var streak = unit.category_to_streaks[status][date_index];
              unit['display_streak'] =  streak > 0 ? streak : "";

            });


          }

        },

        computed: {
          status_class : function() {
            var ret = {};
            ret['ma-' + this.status.toLowerCase()] = true;
            ret['ma-hide-streak'] = (this.show_streaks === false);
            return ret;
          },
          status_str : function() {
            return this.status.toLowerCase();
            return this.status.slice(0,1).toUpperCase() + this.status.slice(1).toLowerCase();
          },
          tick_numeric : function() {
            return parseInt(this.tick);
          },
          date_index_str : function() {
            
            if(!this.outage_data || (!this.date_index && this.date_index !== 0)) {
              return undefined;
            }
            var d = this.outage_data.dates[[this.date_index]];
            var s_out = moment(d).format('ddd MMMM Do, YYYY')
            return s_out;

          }
        }

      });

    </script>

  </body>

</html>